<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='home.css') }}"
    />
  </head>
  <body>
    <div class="content">
      <div class="saying">
        <h3>Quality</h3>
        <h5>is the</h5>
        <h3>Difference</h3>
      </div>
      <div class="fadein">
        <h2>Welcome To</h2>
        <br />
        <h1>Staggs Garden Center</h1>
        <br />
        <h4>EST. 1990</h4>
      </div>
    </div>
    <div class="Quality">
      <h2>Quality is the Difference</h2>
      <br />
      <p>
        We deeply value our customers, many of whom are not just patrons but
        neighbors and friends. Each plant in our care holds a special place in
        our hearts, and we are committed to their long-term health and vitality
        even beyond our grounds. This commitment is what defines our belief that
        'Quality is the Difference.' At Staggs, quality isn't just a motto; it's
        a guiding principle we uphold in everything we do. Our dedication
        extends beyond our doors as we work tirelessly to make the Upstate a
        greener, more beautiful community. Every flower and shrub leaving our
        store is a testament to this commitment. We strive to offer only the
        healthiest, most vibrant plants. While we can't guarantee they'll
        maintain their perfection once they leave our care, we provide you with
        the tools and knowledge to nurture them. This, we promise.
      </p>
    </div>
  </body>
</html>
